//fuentes
$primary_font: 'Roboto', sans-serif;
$secondary_font: 'Montserrat', sans-serif;
//MQ
$phone: 480px;
$tablet: 768px;
$desktop: 1024px;

//colores
$background: #363846;
$title: #1C83BA;
$secondary_color:#76A3B3;
$primary_color: #B3DEFF;
$text_color: #d7eeff;
$black: black;
$white: white;
//unidades
