@use 'base/variables' as v;
@use 'base/mixins' as m;

.techno{
    &__carrousel {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 3rem;
        row-gap: 1rem;
        align-items: center;
        margin-top: 4rem;

        @include m.phone {
            column-gap: inherit;
            row-gap: inherit;
            justify-content: space-between;
        }

        & > div {
            width: 5rem;

            @include m.desktop {
                width: 8rem;
                filter: grayscale(100%);
                transition: filter 300ms ease-in-out;
            }

            &:hover {
                filter: grayscale(0);
            }
        }
    }
}








